* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #f9f9f9);
  padding: 10px;
}

h2 {
  text-align: center;
  margin: 10px 0 15px;
  color: #0d47a1;
  font-size: 22px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.controls input,
.controls button {
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
}

.controls input {
  border: 1px solid #bbb;
}

.controls button {
  border: none;
  background: #1976d2;
  color: white;
}

#mapCanvas {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: auto;
  min-height: 80vh;
  border-radius: 10px;
  border: 2px solid #1976d2;
  background: #eef3f8;
}

.info {
  margin: 10px auto;
  padding: 10px;
  max-width: 900px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
}



/* Navbar container */
.navbar {
  height: auto;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 10px 24px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

/* University logo */
.uni-logo {
  height: 100px;
  object-fit: contain;
}

/* Right side profile */
.profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
  
  color: #333;
  font-weight: 500;
  font-size: small;
  transition: color 0.2s ease;
  color: blue;
}

.profile-link:hover {
  color: #007bff;
}

/* Small round image */
.profile-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
}

#developer{
    font-size:smaller;
    padding:10px;
    margin-top: 15px;
    color:gray
}